// .BookingsTableWrapper{
//     // max-width: 100vw;
//     // position: absolute;


// }
// .BookingsTableContainer{
//     margin: 20px;
//     width: auto;
//     display: flex;
//     flex-direction: column;
    

// }
// .BookingsTableHead{
//     display: flex;
//     justify-content: space-between;
// }
// .BookingsTableBody{
//     display: flex;
//     justify-content: space-between;
//     align-items: center;

// }
.BookingsDate{
    margin-left: 20px;
    margin-top: 20px;
    color: #000;
    font-size: 20px;
    font-weight: 400;
}
.BookingsTable{
    color: #212121;
    font-family: 'Inter';
    overflow-x: scroll;

    th,td{
        // padding: 1rem;
        padding: 25px 32px;
    }
    th{
        background-color: #FEF8FF;
        border-radius: 8px;
        font-weight: normal;
       
    }
}



