$color-primary: #4059AD;
$color-primary-light-blue: #6B9AC4;
$color-primary-light-green: #97D8C4;
$color-primary-light-grey: #EFF2F1;
$color-primary-yellow: #F4B942;
$color-primary-pale-blue: #E1EBF3;

$color-status-red: #D82B2B;
$color-status-green: #34C881;

$color-grey-darkest-grey: #323232;
$color-grey-darker-grey: #999999;
$color-grey-light-grey: #CCCCCC;