@import '../../../styles/variables';

.Button {
    // width: 100%;
    padding: auto;
    flex: 1;
    padding: 19px 24px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 10px;
    font-weight: 500;
    font-size: 14px;
    line-height: 19px;
    color: $color-primary-light-grey;
    background: $color-primary;
    border-style: none;
    border-radius: 8px;
    cursor: pointer;
    &:disabled {
        background: $color-grey-light-grey;
        color: $color-primary-light-grey;
        cursor: not-allowed;
    }
}

.Outlined {
    background: transparent;
    border: 1px solid $color-primary;
    color: $color-primary;
}